@charset "UTF-8";

@mixin min($param){
	@media screen and (min-width:#{$param}px){
		@content;
	}
}
@mixin max($param){
	@media screen and (max-width:#{$param}px){
		@content;
	}
}
/************************************************************************************
						  				
									_COMMON.SCSS
										
*************************************************************************************/

.u-ctt{
	margin:auto;
	padding:0 15px;
	box-sizing:border-box;
	
	@include min(768){
		width: 750px;
	}
	@include min(992){
		width:960px;
	}
/*
	@include min(1200){
		width: 1170px;
	}
*/
}

@for $num from 1 through 12 {
	.u-gr#{$num} {
		width: calc(100% * $num / 12);
		min-height:1px;
		box-sizing:border-box;
	}
}
@include min(768){
	@for $num from 1 through 12{
		.u-grs#{$num} {
			width: calc(100% * $num / 12);
			min-height:1px;
			box-sizing:border-box;
		}
	}
}
@include min(992){
	@for $num from 1 through 12{
		.u-grs#{$num} {
			width: calc(100% * $num / 12);
			min-height:1px;
			box-sizing:border-box;
		}
	}
}
/*
	.u-grl {
		width: calc(100% *  / 12);
		min-height:1px;
		box-sizing:border-box;
	}
*/

@for $num from 2 through 6{
	$px: $num * 5;
	.u-mt#{$px}{
		margin-top: #{$px}px;
	}
	.u-mb#{$px}{
		margin-bottom: #{$px}px;
	}
}

.u-gutter{
	padding: 0 15px;
}

.clearfix:before,
.clearfix:after{
  display: table;
  content: " ";
}
.clearfix:after{
	clear:both;
}
.u-left{ float:left; }
.u-center{ text-align:center; }
.u-right{ float:right; }

.copyright{
	font-size:small;
	text-align:center;
	color:#fff;
}
.copyright:before{ content:'\00a9  2015 '; }
.copyright:after{ content:' All rights reserved.'; }


%u-gr1{ width: calc(100% / 12);}
%u-gr2{ width: calc(100% / 6);}
%u-gr3{ width: calc(100% / 4);}
%u-gr4{ width: calc(100% / 3);}
%u-gr5{ width: calc(100% * 5 / 12);}
%u-gr6{ width: calc(100% / 2);}
%u-gr7{ width: calc(100% * 7 / 12);}
%u-gr8{ width: calc(100% * 8 / 12);}
%u-gr9{ width: calc(100% * 9 / 12);}
%u-gr10{ width: calc(100% * 10 / 12);}
%u-gr11{ width: calc(100% * 11 / 12);}
%u-gr12{ width: 100%;}

%clearfix:before,
%clearfix:after{
  display: table;
  content: " ";
}
%clearfix:after{
	clear:both;
}
%u-left{ float:left; }
%u-center{ text-align:center; }
%u-right{ float:right; }